<h1>Página principal</h1>
<p>Hello, <%= @email %></p>

<% if user_signed_in? %>
  <p>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete%>
  </p>

  <%= render 'restaurant' %>
  <%= render 'customer' %>
  
<% else %>
   <p>
    <%= link_to 'Login', new_user_session_path %>
  </p>
<% end %>

<p>
  <%= link_to 'Restaurantes', restaurants_path%> | 
  <%= link_to 'Produtos', products_path%>
</p>
