<h1>Página principal</h1>
<p>Hello, <%= @email %></p>

<% if user_signed_in? %>
  <p>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete%>
  </p>

  <% if current_user.restaurant? %>
    <p>Seus produtos, <%= current_user.restaurant.name %>:</p>

    <table>
      <thead>
        <tr>
          <th>
            Produto
          </th>
          <th>
            Valor
          </th>
        </tr>
      </thead>

      <tbody>
        <% current_user.restaurant.products.each do |product| %>
          <tr>
            <td>
              <%= product.name %>
            </td>
            <td>
              <%= number_to_currency(product.value, unit: 'R$', separator: ',', delimiter: '') %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% end %>
<% else %>
   <p>
    <%= link_to 'Login', new_user_session_path %>
  </p>
<% end %>

<p>
  <%= link_to 'Restaurantes', restaurants_path%> | 
  <%= link_to 'Produtos', products_path%>
</p>
